body {
	margin: 0;
}

footer {
	width: 100%;
	background-color: lightskyblue;
}

td {
	text-align: center;
}

/*------------------------Ecran smartphone 360x640---------------------*/

/*-------------------------HEADER---------------------------*/
nav {
	display: none;
}

i {
	position: relative;
	left: 5%;
	margin-top: 3%;
}

h1 {

	display: inline-block;
	margin:2% 20%;
}

.logo { display: none;
}

header {
	background-image: url(../img/logo2.jpg);
}

.search {
	width: 30%;
	margin: 0 0 3% 10%;
}

input {
	width: 25%;
	margin: 0 2% 3% 25%;
}

/*--------------------------------MAIN------------------------------------*/

 table {
    	border-collapse: collapse;
        margin: 15% auto;
		width: 90%;
}


table, th, td {
    	border: 1px solid black;
}

/*-------------------------------FOOTER--------------------------------*/

.azerti {
	display: inline-block;
	margin: 0 4% 0 0;

}

.azert {
	display: inline-block;
	margin: 0 2% 0 1%
}

/*-------------------------------Ecran Tablette 768x1024--------------------*/

@media (min-width: 768px ){

/*--------------------------------Header-------------------------------------------*/

	.logo {
		display: flex;
		margin: 10%;
		width: 100px;
		
	}

		i.fa-bars, i.fa {
		display: none;
	}

	header { 
		width: 100%;
		height: 130px;
		background-image: none;
	}

	header div {
		width: 14%;
		display: inline-block;
	}

	h1 {
		display: inline-block;
		margin: 2% 20%;
		position: relative;
		bottom: 35%
	}

	.search {
		position: relative;
		left: 35%;
		bottom: 41%;
	}

	input {
		position: relative;
		left: 7%;
		bottom: 85%;
		width: 20%;
	}

	/*------------------------------------------------NAVBAR---------------------------------------*/

	nav {
		display: flex;
	}

	nav ul {
		background-color: yellow;
		width: 100%;
	}

	nav ul li {
		width: 21%;
		display: inline-block;
	}

	/*-----------------------------------------MAIN---------------------------------------------------*/

	table {
		width: 95%;
		height: 150px;
		border: 3px solid black;
	}

	.Montant {
	width: 40%;
	position: relative;
	position: relative;
	left: 58%;
	bottom: 16%;
}

	/*-----------------------------------------------------FOOTER-------------------------------------*/

	.azerti {
		position: relative;
		left: 40%;
	}

}

/*-----------------------------------------Ecran desktop 980x1280--------------------------------------*/

@media (min-width: 980px ){

/*---------------------------------------HEADER------------------------------------------------------------------*/

	.search {
		left: 35%;
		bottom: 50%;
	}

/*---------------------------------------------MAIN--------------------------------------------------------------*/

.Montant {
	width: 40%;
	position: relative;
	position: relative;
	left: 58%;
	bottom: 16%;
}

/*------------------------------------FOOTER----------------------------------------------------------*/

	.azert ul li {
		display: inline-block;
	}

	.azerti ul li {
		display: inline-block;
	}

	.azerti {
		position: relative;
		left: 40%;
	}
	

}