body {
	margin: 0;
}

footer {
	width: 100%;
	background-color: lightskyblue;
}


/*------------------------Ecran smartphone 360x640---------------------*/

/*-------------------------HEADER---------------------------*/
nav {
	display: none;
}

i {
	position: relative;
	left: 5%;
	margin-top: 3%;
}

h1 {

	display: inline-block;
	margin:2% 20%;
}

.logo { display: none;
}

header {
	height: 135px;
	background-repeat: no-repeat;
	background-image: url(../img/logo.png)
}

.search {
	width: 30%;
	margin: 0 0 3% 10%;
}

input {
	width: 25%;
	margin: 0 2% 3% 25%;
}

/*-------------------------------MAIN---------------------------------*/

.plombimg {
	width: 80%;
	margin: 3%;
}

section div h2 ,p {
	margin: 2% 3% ;
}

/*-------------------------------FOOTER--------------------------------*/

.azerti {
	display: inline-block;
	margin: 0 4% 0 0;

}

.azert {
	display: inline-block;
	margin: 0 2% 0 1%
}